/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;800&display=swap');

/*ROOT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*VAR*/
    --darkgreen: #148d57;
    --green: #01a75b;
    --yellow: #fecd29;
    --white: #f7f7f7;
    --letter: #333333;
    --darkgold: #d39921;
    --lightgold: #fdd65b;
    --sky: #00306c;
    --sky2: #77abeb;
    --sky3: #263445;
    
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--sky) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--sky);
    border-radius: 10px;
    border: 3px none #ffffff;
}
