
.containerTestimonials {
    height: 60vh;
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", Arial, sans-serif;
    color: var(--sky);
}

#box {
    min-height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Eczar";
    padding-bottom: 20%;
    flex-direction: column;
    padding-top: 15%;
    width: 50%;
}

#box h1 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    cursor: default;
    font-family: "Segoe UI", Arial, sans-serif;
}

#box h1::after {
    content: '';
    background: var(--sky2);
    width: 140%;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-root {
    width: 100% !important;
    margin: auto !important;
    margin-top: 0% !important;
}

.carousel .slide {
    background: #fff !important;
    color: black;
    height: 100%;
}

.myCarousel {
    background: #ffffff;
    /* margin-top: -6%; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    border: 2px solid var(--sky2);
    height: 255px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.carousel .control-dots {
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
}

.myCarousel h3 {
    color: var(--sky);
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.myCarousel p {
    font-weight: 100 !important;
    line-height: 29px !important;
    color: var(--sky3);
    font-size: 15px;
    font-family: "Segoe UI", Arial, sans-serif;
    max-height: 67px;
}

.myCarousel p:before {
    content: "“";
    color: var(--sky2);
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
}

.myCarousel p:after {
    content: "”";
    color: var(--sky2);
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
    line-height: 0;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background: #76AAEC !important;
    outline: 0;
}

.carousel.carousel-slider .control-arrow {
    background: var(--sky) !important;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
    border-radius: 50px;
    width: 50px;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid white;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid white;
}

@media only screen and (max-width: 934px) {
    .carousel-root {
        outline: 0;
        width: 85% !important;
        margin: auto !important;
    }

    .carousel.carousel-slider .control-arrow {
        display: none !important;
    }

    .myCarousel {
        background: #ffffff;
        border: 2px solid var(--sky);
        font-family: 'Eczar';
        margin-top: 0%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6%;
        padding-bottom: 12.5%;
        padding-left: 5%;
        padding-right: 5%;
        height: 200px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    #box h1 {
        margin-bottom: -30px;
    }
    #box{
        width: 100%;
    }
    .myCarousel {
        width: 100%;
        height: 241px;    
        padding-top: 10%;
    }
    #box h1::after {
        width: 100%;
    }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {}

/* DESKTOP BIG */
@media only screen and (min-width: 960px) {
    .containerTestimonials {
        height: 50vh;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    footer {
        padding-bottom: 2rem;
    }
    #box {
        min-height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Eczar";
        padding-bottom: 15%;
        flex-direction: column;
        padding-top: 10%;
        width: 50%;
    }
    .myCarousel {
        height: 220px;
    }
}

/* IPHONE 13 PRO MAX */
@media only screen and (max-width: 500px) and (min-width: 428px) {}

/* MOBILE SMALL */
@media only screen and (max-width: 360px) {
    #box h1 {
        margin-bottom: 80px;
    }

    .containerTestimonials {
        margin-bottom: 2rem;
    }
}

/* IPHONE 8 */
@media only screen and (max-width: 427px) and (min-width: 375px) {
    .containerTestimonials {
        display: flex;
        justify-content: center;
    }
}