.copyright {
    background-color: var(--sky);
    text-align: center;
    min-height: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.copyright a {
    text-decoration: none;
}

.footerText {
    color: var(--white);
    letter-spacing: 2px;
    font-family: "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.footerText:hover {
    color: var(--sky2);
}